# =========================
# Archivos de usuario y configuración
# =========================
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env
*.userprefs
*.DotSettings.user

# =========================
# Carpetas de build y binarios
# =========================
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
bld/
[Ll]og/
[Ll]ogs/
*.pdb
*.ilk
*.meta
*.idb
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log

# =========================
# VS y herramientas
# =========================
.vs/
_ReSharper*/
_NCrunch_*/
*.ncrunch*
*.DotSettings.user
*.psess
*.vsp
*.vspx
*.sap
*.cache
*.bak

# =========================
# EF Core / paquetes NuGet
# =========================
artifacts/
**/[Pp]ackages/*
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# =========================
# Material Design / WPF
# =========================
*_wpftmp.csproj

# =========================
# Archivos temporales de OS
# =========================
*.swp
*~
~$*
.DS_Store
Thumbs.db

# =========================
# Bases de datos locales
# =========================
*.mdf
*.ldf
*.ndf
healthchecksdb

# =========================
# Visual Studio Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/

# =========================
# Ignorar carpetas generadas por compilación externas
# =========================
**/.paket/
**/.fake/
**/.ionide/
**/.mfractor/
